.group
  ==f.label :name
  ==f.error_message_on :name
  ==f.text_field :name, :class => :text_field
  br
  span.description Ex: sophie-vacations.mov

.group
  ==f.label :bucket_name
  ==f.error_message_on :bucket_name
  ==f.text_field :bucket_name, :class => :text_field
  br
  span.description Ex: my-sharing

.group
  ==f.label :title
  ==f.error_message_on :title
  ==f.text_field :title, :class => :text_field
  br
  span.description Ex: Sophie on vacations

.group
  ==f.label :description
  ==f.error_message_on :description
  ==f.text_field :description, :class => :text_field
  br
  span.description Ex: Video of Sophie on vacations taken in August 2010

.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  =="&nbsp;"
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:videos, :index)}';return false", :class => :button
